<ul class="nav nav-tabs">
  <li>
    <%= link_to Item.model_name.human(count: 1), new_item_path, data: remote_if_xhr %>
  </li>
  <li class="active">
    <a href="#service" data-toggle="tab"><%= Service.model_name.human(count: 1) %></a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="service">
    <br />
    <%= render 'form' %>
  </div>
</div>

<% unless request.xhr? %>
  <br />

  <%= link_to_index commodities_path %>
<% end %>
