<div class="col-sm-4">
  <%= link_to new_ticket_path(book), class: 'btn btn-default btn-block' do %>
    <h4>
      <span class="glyphicon glyphicon-file"></span>
      <%= book %>
      <small>
        <%= book.next_available_number %>
      </small>
    </h4>
  <% end %>
</div>
