<%= link_to new_organization_book_path(organization, flow: flow), class: 'btn btn-sm btn-default' do %>
  <span class="glyphicon glyphicon-book"></span>
  <%= t "organizations.new.#{flow}_book" %>
<% end %>
