<h4>
  <%= t ".#{flow}_books_title" %>
  <small>
    <%= add_book_link organization: organization, flow: flow %>
  </small>
</h4>

<% if books.empty? %>
  <div class="alert alert-warning">
    <p><%= t ".empty_#{flow}_books_html" %></p>
  </div>
<% else %>
  <% books.each_slice(3) do |books| %>
    <div class="row">
      <%= render partial: 'launchpad/book', collection: books %>
    </div>
  <% end %>
  <br />
<% end %>
