<h3><%= organization %></h3>
<hr />

<div class="row" data-organization-id="<%= organization.id %>">
  <div class="col-md-6" data-income-books>
    <%= render_organization_books organization: organization, flow: 'income' %>
  </div>
  <div class="col-md-6" data-outcome-books>
    <%= render_organization_books organization: organization, flow: 'outcome' %>
  </div>
</div>
