<% if @organizations.empty? %>
  <div class="alert alert-warning">
    <%= t '.empty' %>
  </div>

  <%= link_to t('organizations.index.new'), new_organization_path, class: 'btn btn-primary' %>
<% else %>
  <% @organizations.each_slice(2) do |organizations| %>
    <div class="row">
      <%= render partial: 'organization', collection: organizations %>
    </div>
  <% end %>

  <hr />

  <p>
    <%= link_to t('organizations.index.new'), new_organization_path, class: 'btn btn-primary' %>
  </p>
<% end %>
