<% if @organizations.empty? %>
  <div class="alert alert-warning">
    <%= t '.empty' %>
  </div>
<% else %>
  <%= render partial: 'organization', collection: @organizations %>
<% end %>

<p>
  <%= link_to t('organizations.index.new'), new_organization_path, class: 'btn btn-default' %>
</p>
