<% @accounts.each_slice(2) do |accounts| %>
  <div class="row">
    <% accounts.each do |account| %>
      <div class="col-md-6">
        <div class="well">
          <h3><%= link_to account, dashboard_for(account) %></h3>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
