<fieldset class="row receipt_item">
  <%= f.input :id, as: :hidden %>
  <div class="col-md-9">
    <%= f.input :item, as: :autocomplete, label: false, url: items_path %>
  </div>
  <div class="col-md-3">
    <%= f.input :quantity, as: :slim %>
    <div class="row-controls">
      <%= link_to_remove_nested_item f %>
    </div>
  </div>
</fieldset>
