<% id = f.object.object_id %>
<fieldset class="row relation">
  <div class="col-md-10">
    <%= f.input :account, as: :autocomplete, label: false, url: accounts_path %>
  </div>
  <div class="col-md-2 nested-actions">
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_nested_item f %>
  </div>
</fieldset>
