<li class="dropdown<%= ' active' if controller_name == 'launchpad' %>">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <%= current_account || t('menu.admin') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <% if current_account %>
      <li><%= link_to t('menu.admin'), accounts_url(subdomain: 'www') %></li>
    <% end %>
    <% accounts = current_user.accounts.to_a - [current_account] %>
    <% accounts.each do |account| %>
      <li><%= link_to account, dashboard_for(account) %></li>
    <% end %>
  </ul>
</li>
