<%= render "score_greeting_for_#{@feedback.score}" %>

<div class="row">
  <div class="col col-lg-6 col-lg-offset-3">
    <%= simple_form_for @feedback do |f| %>
      <div class="form-inputs">
        <%= f.input :notes, label: false, input_html: { rows: 6, autofocus: true } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t('.submit'), class: 'btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
