<div class="alert alert-success">
  <div class="media">
    <div class="pull-left">
      <%= image_tag 'face-smile.png', alt: t('image.face_smile'), size: '39x41', class: 'media-object' %>
    </div>

    <div class="media-body">
      <h4 class="media-heading">Fue una experiencia excelente</h4>
      <p>Rápido, amigable, útil, agradable ¡Buen trabajo!</p>
    </div>
  </div>
</div>
