<div class="alert alert-danger">
  <div class="media">
    <div class="pull-left">
      <%= image_tag 'face-sad.png', alt: t('image.face_sad'), size: '39x41', class: 'media-object' %>
    </div>

    <div class="media-body">
      <h4 class="media-heading">No fue buena desafortunadamente</h4>
      <p>Definitivamente no estoy feliz</p>
    </div>
  </div>
</div>
