<div class="alert alert-warning">
  <div class="media">
    <div class="pull-left">
      <%= image_tag 'face-plain.png', alt: t('image.face_plain'), size: '39x41', class: 'media-object' %>
    </div>

    <div class="media-body">
      <h4 class="media-heading">Fue una buena experiencia</h4>
      <p>Bien, pero definitivamente pudo ser mejor</p>
    </div>
  </div>
</div>
