<div class="page-header">
  <h1 class="text-center">
    Nos apena no haberte podido ayudar
  </h1>
</div>

<h4 class="text-center">
  ¿Podrías contarnos cómo podemos hacer tu próxima atención excelente?
</h4>
