<div class="page-header">
  <h1 class="text-center">
    ¡Estamos contentos de haberte brindado una experiencia excelente!
  </h1>
</div>

<h4 class="text-center">
  ¿Podrías contarnos que fue lo que te gustó?
</h4>
