<fieldset class="row receipt_commodity">
  <%= f.input :id, as: :hidden %>
  <div class="col-md-9">
    <%= f.input :commodity, as: :autocomplete, label: false, url: commodities_path, input_html: {
      data: { empty_result_label: t('.empty') }
    } %>
  </div>
  <div class="col-md-3">
    <%= f.input :quantity, as: :slim %>
    <div class="row-controls">
      <%= link_to_remove_nested_item f %>
    </div>
  </div>
</fieldset>
