body {
  padding-top: 70px;
}

.loading-caption {
  position: fixed;
  top: 0%;
  left: 50%;
  width: 10em;
  margin: 0em 0em 0em -5em;
  padding: .25em 1em;
  text-align: center;
  line-height: 40px;
  z-index: 1100;
}

.nested {
  padding-left: 1em;
  margin-bottom: 1em;
  border-left: 5px solid #eee;
}

.panel {
  select.time {
    width: 45%;
    display: inline;
  }

  .form-control {
    border-width: 0px 0px 2px 0px;
    border-style: dotted;
    box-shadow: none !important;
    border-radius: 0px;
  }
}
